@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
h1 {
    text-align: center;
    color:rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(117,4,130,1) 8%, rgba(204,19,198,1) 13%, rgba(186,2,112,1) 42%, rgba(223,154,200,1) 67%, rgba(112,13,201,1) 84%);
    font-size: 2.0em;

}
h2{
    color: rgb(203, 173, 236);
    text-align: center;
    font-size: 2.1em;
    background: linear-gradient(90deg, rgba(140,57,205,1) 0%, rgba(143,10,207,1) 13%);
}
h3{
    color: rgb(227, 208, 247);
    font-size: 2.1em;
    text-align: center;
    background: linear-gradient(90deg, rgba(140,57,205,1) 0%, rgba(143,10,207,1) 13%);
    
}
table{
    color: rgb(255, 255, 255);
   text-align: center; 
   background: linear-gradient(90deg, rgba(211,156,221,1) 0%, rgba(228,185,216,1) 13%);
   font-size: 1.9em;
   margin: 0 auto;
   
}
th{
    color: rgb(209, 53, 209);
}



body{
    font-family: 'Teko', sans-serif;
    font-size: 1.3em;
    background-image: url('../img/villa.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgb(23, 207, 240);

    

}
p{
    color:rgb(7, 7, 7);
    font-size: 1.2em;
    background: linear-gradient(90deg, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 13%);
}
li{
    color: rgb(5, 5, 5);
    font-size: 1.3em;
    font-weight: 900;
}
footer{
    text-align: center;
}

