@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
h1 {
    text-align: center;
    color:rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(117,4,130,1) 8%, rgba(204,19,198,1) 13%, rgba(186,2,112,1) 42%, rgba(223,154,200,1) 67%, rgba(112,13,201,1) 84%);
    font-size: 2.0em;

}
h2{
    color: rgb(29, 197, 93);
    text-align: center;
    font-size: 2.1em;
}
h3{
    color: rgb(35, 201, 98);
    font-size: 2.1em;
    text-align: center;
    
}
table{
    color: rgb(255, 255, 255);
   text-align: center; 
   
}
th{
    color: rgb(209, 53, 209);
}



body{
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    background-image: url('../img/neu.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color:rgb(7, 7, 7);
    font-size: 1.2em;
    background: linear-gradient(90deg, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 13%);
}

